
ModInstallerAutoUpdater/obj/Release/ModInstallerAutoUpdater\.exe

ModInstallerAutoUpdater/obj/Release/ModInstallerAutoUpdater\.pdb

_ReSharper\.Caches/ReSharperPlatformVs1512_8a9f22ff\.ModInstallerAutoUpdater\.00/AnnotatedMembers/\.crc
